#page-wrap		    { width: 500px; margin: 0 auto; }

#quiz input {
    vertical-align: middle;
    transform: scale(2)
}

#quiz ol {
   margin: 0 0 10px 20px;
   font-size: 17px;
   font-weight: bold;
}

#quiz ol li {
   margin: 0 0 30px 0;
}

#quiz ol li div {
   padding: 4px 0;
}

#quiz h3 {
   font-size: 17px; margin: 0 0 1px 0; color: #000;
}
